.sum-counter {
  background-color: #5ca2b2;
  margin-top: 70px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  width: 20%;
  padding: 30px;
  background-color: #5ca2b2;
  border: 2px solid #5ca2b2;
}
