.courses-table {
  background-color: #fff;
  margin-top: 70px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}
.courses-table th {
  text-align: left;
  padding: 20px;
}
.courses-table td {
  padding: 20px;
  font-weight: 100;
}
