$primary-background: #5ca2b2;
$secondary-background: #fff;
$primary-input: #008190;
$primary-font-stack: Helvetica, sans-serif;
$primary-font-weight: 100;
$primary-font-color: #222;
$primary-font-color: #fff;
$form-element-height: 40px;
// check later that all variables are used.
